@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.spin {
  transform-origin: center;
  animation: spin 1s linear infinite;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1b1b1b;
  border-radius: 10px;
  transition: 0.25s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #222222;
}

img {
  object-fit: cover;
}

.my-column:nth-of-type(1) {
  transform: translateY(-45%);
}

.my-column:nth-of-type(2) {
  transform: translateY(-95%);
}

.my-column:nth-of-type(3) {
  transform: translateY(-45%);
}

.my-column:nth-of-type(4) {
  transform: translateY(-75%);
}

.char {
  transform: translateY(215px);
  transition: transform 0.5s;
}

.gradient {
  background: -webkit-linear-gradient(
    45deg,
    #eee,
    rgb(136, 89, 183)
  ) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}
